@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplayLight';
  src: local("ClashDisplayLight"), url("./assets/fonts/ClashDisplay/ClashDisplay-Light.ttf") format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'ClashDisplayRegular';
  src: local("ClashDisplayRegular"), url("./assets/fonts/ClashDisplay/ClashDisplay-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'ClashDisplaySemiBold';
  src: local("ClashDisplaySemiBold"), url("./assets/fonts/ClashDisplay/ClashDisplay-Semibold.ttf") format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'ClashDisplayBold';
  src: local("ClashDisplayBold"), url("./assets/fonts/ClashDisplay/ClashDisplay-Bold.ttf") format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'SatoshiVariable';
  src: local("SatoshiVariable"), url("./assets/fonts/Satoshi/Satoshi-Variable.ttf") format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'SatoshiRegular';
  src: local("SatoshiRegular"), url("./assets/fonts/Satoshi/Satoshi-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'SatoshiBold';
  src: local("SatoshiBold"), url("./assets/fonts/Satoshi/Satoshi-Bold.ttf") format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'STIXTwoTextBold';
  src: local("STIXTwoTextBold"), url("./assets/fonts/StixFonts/STIXTwoText-Bold.ttf") format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
